ion-slide {
    height: 300px;
}

img.header {
    width: 100%;
    display: inline-block;
    float: none;
    opacity: 0.7;
}

img.logo {
    position: absolute;
    width: 133px;
    left: 0;
    margin: 20px;
    top: 0;
}